:root {
  --header-height: 80px;
  --header-background-color: #ffffff;
}

.header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 10%;
  background-color: var(--header-background-color);
  border-bottom: 2px solid rgba(0, 0, 0, 20%);
}

.header__logo {
  height: 100%;
}

.header__logo img {
  max-height: 100%;
  width: auto;
}