:root {
  --header-height: 80px;
  --header-background-color: #ffffff;
}

.header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 20%;
  background-color: var(--header-background-color);
  border-bottom: 2px solid rgba(0, 0, 0, 20%);
}

@media (max-width: 610px) {
  .header {
    padding: 1em 10%;
  }
}

.header__logo {
  height: 100%;
}

.header__logo img {
  max-height: 100%;
  width: auto;
}

.header__shopping-cart {
  position: relative;
}

.header__shopping-cart>span {
  position: absolute;
  top: -4px;
  right: -4px;

  width: 22px;
  height: 22px;
  font-size: 14px;
  font-weight: 700;
  color: var(--c-background);
  background-color: var(--c-font-color);
  border-radius: 50%;

  display: grid;
  place-items: center;
  line-height: 1.8;
}