.product-spec {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-basis: calc(50% - 8px);
  /* 8px is half the gap size */
  margin-bottom: auto;
}

@media (max-width: 610px) {
  .product-spec {
    flex-basis: 100%;
  }
}

.product-spec__label {
  font-size: 14px;
  font-weight: 700;
}

.product-spec__content {
  font-size: 16px;
}