:root {
  --c-background: #EFEFEF;
  --c-font-color: #112D4E;
  --c-product-image-background: #FFFFFF;
  --c-price: #FFD124;
  --default-shadow: 0 0 8px 0 rgba(0, 0, 0, 20%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  font-size: 18px;
  color: var(--c-font-color);
  background-color: var(--c-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}