.product-details {
  width: 100%;
  padding: 24px 20%;
}

@media (max-width: 1550px) {
  .product-details {
    padding: 64px 10%;
  }
}

.product-details__container {
  background-color: var(--c-product-image-background);
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--default-shadow);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 48px;
}

.product-details__image {
  text-align: center;
  justify-self: end;
  flex-grow: 1;
}

@media (min-width: 610px) {
  .product-details__image {
    min-width: 300px;
  }
}

.product-details__image>img {
  width: min(100%, 300px);
  height: auto;
}

.product-details__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Tag body */
.product-details__price {
  font-size: 32px;
  font-weight: 700;
  color: var(--c-price);
  background-color: var(--c-font-color);
  width: fit-content;
  padding: 8px;
  border-radius: 0 16px 16px 0;
  margin-left: 27px;
  margin-bottom: 16px;
  position: relative;
}

/* Tag triangle */
.product-details__price::before {
  content: "";
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-right: 27px solid var(--c-font-color);

  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}

/* Tag dot */
.product-details__price::after {
  content: "";
  background-color: var(--c-product-image-background);
  width: 8px;
  height: 8px;
  border-radius: 50%;

  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.product-details__specifications {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.product-details__actions {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.product-details__selector-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0;
}

.product-details__selector>input[type="radio"] {
  display: none;
}

.product-details__selector>input[type="radio"]:checked+span {
  border: 2px solid var(--c-font-color);
  box-shadow: inset 0 0 5px 1px var(--c-font-color);
}

.product-details__selector>span {
  padding: 0 16px;
  height: 70px;
  max-width: 170px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  display: grid;
  place-items: center;
  text-align: center;

  cursor: pointer;
}

.product-details__selector>span:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: var(--default-shadow);
}

.product-details__submit {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--c-font-color);
  color: var(--c-background);
  padding: 16px 24px;
  border-radius: 30px;
  min-width: 150px;
  margin: 24px auto;
  cursor: pointer;
}